
.nameAndNavBar {

    display: flex;
    align-items: center;

}

.items {

    display: flex;    
    align-items: center;
    justify-content: center;
    margin: 12px;
    
  }

#logo {

    width: 160px;
    
}

